h1{
  text-align: center;
    font-family: 'Lucida Sans';
}
h2{
    text-align: center ;
    font-family: Arial;

}
h3{
    text-align: center ;
    font-family: Arial;
    color: aqua;
}
p{
    font-family:Helvetica;
    text-align: center;
}
body{
    background-color: rgb(219, 20, 20);
}
#cabecera{
    padding: 20px 20px 20px 20px;
    position: fixed;
    margin-bottom: 50px;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 40px;
    background-color: #ffffff;
}
.frame{
    width: 80%;
    height: 300px;
}
#body{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1800px;
}

.action-button{
    padding: 15px;
    background-color: #24b4d8;
    border-radius: 10px;
    color: #ffffff;
    margin:20px;
    font-family: Arial black;
}
.action-button:hover{
    padding: 15px;
    background-color: #9f2e2a;
    border-radius: 10px;
    color: #ffffff;
}
.action-button2{
    padding: 15px;
    background-color: #9624d8;
    border-radius: 10px;
    color: #ffffff;
    margin:20px;
    font-family: Arial black;
}
.action-button2:hover{
    padding: 15px;
    background-color: #3bd6d6;
    border-radius: 10px;
    color: #ffffff;
}
#footer{
    position: fixed;
    display: flex;
    margin-top: 5px;
    width: 100%;
    background-color: rgb(44, 46, 192);
    color:#ffffff;
    padding: 5px;
    left:0px;
    bottom: 0px;

}